/* #principal {
    background-image: url('/assets/frentes/acero/3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    height: 400px;
}

.title-img-principal{
    color: white;
} */

.contenedor {
    position: relative;
    text-align: center;
    color: white;
  }

.contenedor img {
    width: 100%;
    height: 500px;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: Helvetica bold;
    font-size: 70px;
    font-weight: 700;
}

#frentes-acero{
    background-color: #F2F2F2;
    padding-top: 6%;
    padding-bottom: 4%;
    text-align: left;
}

#frentes-chapa{
    background-color: white;
    padding-top: 6%;
    padding-bottom: 4%;
    text-align: left;
}

#frentes-combinada{
    background-color: #F2F2F2;
    padding-top: 6%;
    padding-bottom: 4%;
    text-align: left;
}

#frentes-acero h1, #frentes-chapa h1, #frentes-combinada h1{
    font-family: Helvetica bold;
    margin-left: 15%;
    font-weight: 1000;
}

#frentes-acero p, #frentes-chapa p, #frentes-combinada p{  
    margin-left: 15%;
    margin-right: 15%;
}

.imag-rows{
    margin-left: 15%;
    margin-right: 15%;
}

.row>* {
    padding: 0;
}

.card{
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    height: 300px;
}

.card-img{
    border-radius: 0;
    height: 100%;
}

.ver-mas-btn {
    background-color: #3d3f41; 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .ver-mas-btn:hover {
    background-color: #1f2123; 
  }

  .ver-menos-btn {
    background-color: #a24a41; 
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ver-menos-btn:hover {
    background-color: #9e5951;
  }

@media (max-width: 989px){
    #frentes-acero h1, #frentes-chapa h1, #frentes-combinada h1{
        margin-left: 2%;
    }
    
    #frentes-acero p, #frentes-chapa p, #frentes-combinada p{  
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .imag-rows{
        margin-left: 0;
        margin-right: 0;
    }

    .texto-superpuesto {
        position: absolute;
        font-size: 50px;
        left: 50%;
    }
}