<!-- <section id="principal">
    <h2 class="title-img-principal">FRENTES DE PARRILLA</h2>
</section> -->
<section class="contenedor">
  <img src="assets/frentes/acero/3.jpg" alt="Descripción de la imagen">

  <div class="texto-superpuesto">
    FRENTES DE PARRILLAS
  </div>
</section>

<section id="frentes-acero">
  <h1 class="text-uppercase">Frentes de parrilla en acero inoxidable </h1>
    <p>Producto construido en 1,2 mm de espesor, calidad 430. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual, divisor central, columnas y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas.
        El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo, en acero inoxidable y/o hierro enlozado. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta.
    </p>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesAcero">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleAcero < imagenesAcero.length" (click)="verMasAcero()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleAcero > 9" (click)="verMenosAcero()" class="ver-menos-btn">VER MENOS</button>
  </div>
</section>

<section id="frentes-chapa">
  <h1 class="text-uppercase">Frentes de parrilla en chapa</h1>
  <p>Producto construido en chapa plegada n°18. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual, divisor central, columnas y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas.
    El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo en hierro enlozado y/o acero inoxidable. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta.     
  </p>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesChapa">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleChapa < imagenesAcero.length" (click)="verMasChapa()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleChapa > 9" (click)="verMenosChapa()" class="ver-menos-btn">VER MENOS</button>
  </div> -->
</section>

<section id="frentes-combinada">
  <h1 class="text-uppercase">Frentes de parilla combinada </h1>
  <p>Este producto se encuentra compuesto tanto de chapa plegada n°18, así como también de acero inoxidable 1,2 mm calidad 430. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas, todo construido en chapa plegada. Divisor central y/o columnas con posibilidad de realizarse en acero inoxidable.
    El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo de hierro enlozado, así como también en acero inoxidable. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta    
  </p>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesCombinada">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleCombinada < imagenesCombinada.length" (click)="verMasCombinada()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleCombinada > 9" (click)="verMenosCombinada()" class="ver-menos-btn">VER MENOS</button>
  </div>
</section>