<section id="principal">
    <h2 class="title-img-principal">FRENTES DE PARRILLA</h2>
</section>

<section id="frentes-acero">
    <h1 class="text-uppercase">Frentes de parrilla en acero inoxidable </h1>
    <p>Producto construido en 1,2 mm de espesor, calidad 430. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual, divisor central, columnas y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas.
        El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo, en acero inoxidable y/o hierro enlozado. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta.
    </p>

    <div class="imag-rows row">
        <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/1.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
        </div>
    
        <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/2.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/3.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card p-1 text-black">
              <img class="card-img" src="assets/frentes/acero/4.jpg" alt="Card image">
              <div class="card-name card-img-overlay">
              </div>
            </div>
        </div>
    </div>

    
    <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/5.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/6.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/7.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/8.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
    </div>

    
    <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/9.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/10.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/11.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/12.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
    </div>

    <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/13.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/14.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/15.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/16.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
    </div>

    <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/17.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/18.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/acero/19.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/acero/20.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
    </div>
</section>

<section id="frentes-chapa">
  <h1 class="text-uppercase">Frentes de parrilla en chapa</h1>
  <p>Producto construido en chapa plegada n°18. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual, divisor central, columnas y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas.
    El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo en hierro enlozado y/o acero inoxidable. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta.     
  </p>

  <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/chapa/1.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/chapa/2.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/chapa/3.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/chapa/4.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
  </div>
</section>

<section id="frentes-combinada">
  <h1 class="text-uppercase">Frentes de parilla combinada </h1>
  <p>Este producto se encuentra compuesto tanto de chapa plegada n°18, así como también de acero inoxidable 1,2 mm calidad 430. Posee paño fijo superior con posibilidad de ser opcional, puerta tipo guillotina contrapesada manual y bajo parrilla con puertas de abrir y/o cajones con guías telescópicas, todo construido en chapa plegada. Divisor central y/o columnas con posibilidad de realizarse en acero inoxidable.
    El interior de parrilla cuenta con accionamiento de movimiento frontal, paños desmontables los cuales pueden ser de varilla diámetro 8 mm o ángulo de hierro enlozado, así como también en acero inoxidable. Incluye un chapón divisor y leñero, al cual se le puede incluir puerta    
  </p>

  <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/combinada/1.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/combinada/2.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/combinada/3.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/frentes/combinada/4.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
  </div>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/5.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/6.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/7.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/combinada/8.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
    </div>
  </div>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/9.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/10.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/11.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/frentes/combinada/12.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
    </div>
  </div>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/13.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card p-1 text-black">
        <img class="card-img" src="assets/frentes/combinada/14.jpg" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>
</section>


