<!-- <section id="principal">
    <h2 class="title-img-principal">PORTONES, PUERTAS Y TECHOS</h2>
</section> -->

<section class="contenedor">
  <img src="assets/portones/grande.jpg" alt="Descripción de la imagen">

  <div class="texto-superpuesto">
    Puertas, portones y techos
  </div>
</section>

<section id="portones">
  <h1 class="text-uppercase">Portones en chapa y combinados con acero inoxidable</h1>
  <p>Los mismos pueden ser levadizos, corredizos o de abrir. De acuerdo con el deseo y/o necesidades del cliente puede ser de chapa ciega simple o doble, con buñas, vidrio repartido, así como también la parte superior o inferior puede llevar caños a la vista. Puede ser construido íntegramente en, así como también se pueden combinar ambos materiales, para destacar detalles.
  </p>

  
  <div class="carousel-container" >
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [interval]="5000"
    [indicatorsByChunk]="true"
    [noWrap]="noWrap"
    >
      <slide *ngFor="let img of imagenesVisiblesPortones" >
        <img [src]="img" alt="Slide" class="img-responsive center-block">
      </slide>
    </carousel>
  </div>

  <!-- <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesPortones">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisiblePortones < imagenesPortones.length" (click)="verMasPortones()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisiblePortones > 9" (click)="verMenosPortones()" class="ver-menos-btn">VER MENOS</button>
  </div> -->
</section>

<section id="puertas">
  <h1 class="text-uppercase">Puertas de hierro y combinados</h1>
  <p>Las mismas pueden ser en chapa simple o doble, de una hoja o de una hoja con paños fijos laterales. Puede realizarse en chapa con buñas, vidrio en lateral y/o manijón, así como también en el caso de las puertas de chapa se pueden realizar detalles en acero inoxidable. Posee bisagras reforzadas y cerradura, las mismas siempre serán para amurar. 
  </p>

  <div class="carousel-container" >
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [interval]="5000"
    [indicatorsByChunk]="true"
    [noWrap]="noWrap"
    >
      <slide *ngFor="let img of imagenesVisiblesPuertas" >
        <img [src]="img" alt="Slide" class="img-responsive center-block">
      </slide>
    </carousel>
  </div>

  <!-- <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesPuertas">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisiblePuertas < imagenesPuertas.length" (click)="verMasPuertas()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisiblePuertas > 9" (click)="verMenosPuertas()" class="ver-menos-btn">VER MENOS</button>
  </div> -->
</section>

<section id="techos">
  <h1 class="text-uppercase">Techos de acero inoxidable, hierro y combinados</h1>
  <p>Estructuras construidas con caño, refuerzos intermedios y cenefa con chapa galvanizada, que incluye canaleta. Se pueden incluir diferentes tipos de cubiertas a definir por el cliente, las mismas pueden ser vidrio 4+4 incoloro y chapa cristal. Los materiales, pueden ser íntegramente en chapa para pintar o acero inoxidable, así como también se pueden combinar ambos materiales, para destacar detalles. 
  </p>

  <div class="carousel-container" >
    <carousel [itemsPerSlide]="itemsPerSlide"
    [singleSlideOffset]="singleSlideOffset"
    [interval]="5000"
    [indicatorsByChunk]="true"
    [noWrap]="noWrap"
    >
      <slide *ngFor="let img of imagenesVisiblesTechos" >
        <img [src]="img" alt="Slide" class="img-responsive center-block">
      </slide>
    </carousel>
  </div>

  <!-- <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesTechos">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleTechos < imagenesTechos.length" (click)="verMasTechos()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleTechos > 9" (click)="verMenosTechos()" class="ver-menos-btn">VER MENOS</button>
  </div> -->
</section>



