<section class="contenedor">
  <img src="assets/barandas/h/6.jpg" alt="Descripción de la imagen">

  <div class="texto-superpuesto">
    Barandas
  </div>
</section>

<section id="barandas-h">
  <h1 class="text-uppercase">Barandas H</h1>
    <p>La misma se encuentra construida con columnas en forma de H en acero inoxidable. Lleva vidrio templado 4 + 4 incoloro con opción de incorporar pasamanos de caño redondo o rectangular.
    </p>
  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesH">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleH < imagenesH.length" (click)="verMasH()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleH > 9" (click)="verMenosH()" class="ver-menos-btn">VER MENOS</button>
  </div>
</section>

<section id="barandas-botones">
  <h1 class="text-uppercase">Barandas con botones</h1>
  <p>Los botones son de acero inoxidable, los mismos quedan insertos sobre lateral de la pared y vidrio templado de 10 mm. También cuenta con posibilidad de incorporar pasamanos de caño redondo o rectangular.    
  </p>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesBotones">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image" loading="lazy">
        <div class="card-name card-img-overlay" >
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleBotones < imagenesBotones.length" (click)="verMasBotones()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleBotones > 9" (click)="verMenosBotones()" class="ver-menos-btn">VER MENOS</button>
  </div>
</section>

<section id="barandas-caños">
  <h1 class="text-uppercase">Barandas de caño </h1>
  <p>Realizadas con pasamanos y columnas de caño diámetro 51. Para el interior hay dos opciones diferentes, vidrio templado 10 mm o también se utilizan 3 caños diámetro 19, todo en acero inoxidable.
  </p>

  <div class="imag-rows row">
    <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesCanos">
      <div class="card p-1 text-black">
        <img class="card-img" [src]="img" alt="Card image">
        <div class="card-name card-img-overlay" loading="lazy">
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button *ngIf="cantidadVisibleCanos < imagenesCanos.length" (click)="verMasCanos()" class="ver-mas-btn mr-3">VER MÁS</button>
    <button *ngIf="cantidadVisibleCanos > 9" (click)="verMenosCanos()" class="ver-menos-btn">VER MENOS</button>
  </div>
</section>

<!-- <section id="barandas-caños">
  <h1 class="text-uppercase">Barandas de caño </h1>
  <p>Realizadas con pasamanos y columnas de caño diámetro 51. Para el interior hay dos opciones diferentes, vidrio templado 10 mm o también se utilizan 3 caños diámetro 19, todo en acero inoxidable.
  </p>

  <div class="imag-rows row">
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/barandas/caños/1.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/barandas/caños/2.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card p-1 text-black">
          <img class="card-img" src="assets/barandas/caños/3.jpg" alt="Card image">
          <div class="card-name card-img-overlay">
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
          <div class="card p-1 text-black">
            <img class="card-img" src="assets/barandas/caños/4.jpg" alt="Card image">
            <div class="card-name card-img-overlay">
            </div>
          </div>
      </div>
  </div>
</section> -->


