*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.carousel{
    position: initial;
}

.carousel-indicators {
    display: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: black;
    background-size: 40% 60%; 
    width: 25%;
    height: 30%;
    border-radius: 60%;
    filter: invert(100%) brightness(80%);
}

@media (min-width: 600px) and (max-width: 1024px) {
    .carousel-control-prev{
        top: 75%;
        left: 10%;
    }

    .carousel-control-next{
        top: 75%;
        right: 10%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        background-color: rgba(0, 0, 0, 0.8);
        background-color: black;
        background-size: 40% 60%; 
        width: 80%;
        height: 90%;
        border-radius: 60%;
        filter: brightness(100%);
    }

}

@media (max-width: 767px) {
    .carousel-control-prev{
        top: 75%;
        left: 5%;
    }

    .carousel-control-next{
        top: 75%;
        right: 5%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        background-color: rgba(0, 0, 0, 0.8);
        background-color: black;
        background-size: 40% 60%; 
        width: 100%;
        height: 90%;
        border-radius: 60%;
        filter: brightness(100%);
    }
}



