*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    min-height: 100%;
    top: 0;
    margin:0;
} */

body {
    position: relative;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

.carousel-indicators {
    display: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: black;
    width: 30%;
    height: 30%;
    border-radius: 60%;
}


