.navbar {
    height: 89px;
    width: 100%;
}

.div-nav{
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.div-nav img{
    width: 70px;
    margin-right: 10px;
}

#nameFirst{
    font-family: Helvetica Bold;
    color: #262626;
    font-weight: 700;
}

.nameSecond {
    color: #E30613;
}

.dropdown-menu{
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
    width: 350px;
    padding: 0px;
    background-color: white;
}

.dropdown-menu a{
    padding: 0px 0px 0px 20px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0px 0px 10px;
}

.dropdown-menu.show{
    display: flex;
}

.dropdown-menu li a{
    color: black;
}

#title{
    font-weight: bold;
    color: red;
}

.menu-column {
    display: inline-block;
}
  
  .dropdown-menu::after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (min-width: 993px) {
    .dropdown-menu.show{
        display: flex;
    }
}

.backColor{
    background-color: #BFBFBF;
    color: white;
}

.back{
    font-size: 20px;
    font-weight: 500;
}

.back:hover{
    background-color: #BFBFBF;
    color: white;
}

.sub-menu {
    display: none;
}
  
.sub-menu.show {
    display: block;
}

.sub-menu a{
    display: block;
    padding: 5px 0px 5px 30px;
}

.sub-menu a:hover{
    background-color: #898989;
}


.a-frente{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.item{
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.item .sub-menu.show{
    background-color: white;
}

.a-frente svg{
    margin-left: auto;
    margin-right: 15px;
}

.sub-item{
    text-decoration: none;
    font-size: 14px;
}


#navbarNavAltMarkup{
    padding-left: 80%;
}

@media (max-width: 992px) {

    .div-nav{
        padding-left: 5%;
    }

    .navbar-collapse {
        justify-content: flex-end;
        background-color: white; 
        position: absolute;
        top: 89px; 
        left: 0;
        width: 100%;
        z-index: 1000; 
    }

    /* .navbar {
        width: 100%;
    } */

    .navbar-nav {
        flex-direction: column; 
        width: 100%;
        text-align: center;
    }

    .navbar-toggler {
        position: absolute;
        margin-left: 75%;
    }

    #navbarNavAltMarkup{
        padding-left: 0%;
    }

    .dropdown-menu.show{
        width: 100%;
    }
}

.productos-open.show{
    background-color: #BFBFBF;
    color: white;
  }
  



