.navbar {
    height: 89px;
    width: 100%;
}

#nameFirst{
    padding-left: 10%;
    font-family: Helvetica Bold;
    color: #262626;
}

.nameSecond {
    color: #E30613;
}

.dropdown-menu{
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
    width: 350px;
    padding: 0px;
    background-color: white;
}

.dropdown-menu a{
    padding: 0px 0px 0px 20px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu.show{
    display: flex;
}

.dropdown-menu li a{
    color: black;
    /* padding: .5em 1em; */
}

/* .dropdown-menu li:first-child a{
    font-weight: bold;
    font-size: 1.2em;
    color: red;
} */

#title{
    font-weight: bold;
    /* font-size: 1.2em; */
    color: red;
}

.menu-column {
    display: inline-block; /* o puedes usar display: inline-block; */
}
  
  .dropdown-menu::after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (min-width: 993px) {
    .dropdown-menu.show{
        display: flex;
    }
}

.backColor{
    background-color: #BFBFBF;
    color: white;
}

.back{
    font-size: 20px;
    font-weight: 500;
}

.back:hover{
    background-color: #BFBFBF;
    color: white;
}

.sub-menu {
    display: none;
}
  
.sub-menu.show {
    display: block;
}

.sub-menu li{
    padding: 5px 0px 5px 10px;
}


.a-frente{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.item{
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    /* padding: 0.5rem; */
}

.item .sub-menu.show{
    background-color: white;
}

.a-frente svg{
    margin-left: auto;
    margin-right: 15px;
}

.sub-item{
    text-decoration: none;
    font-size: 14px;
}

.sub-menu li:hover{
    background-color: #898989;
}



