.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 700;
    color: white;
    /* animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards; */
}

.texto-superpuesto-2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 700;
    color: white;
    /* animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards; */
}

/* @keyframes mover-izquierda-derecha {
    from{
        transform: translateX(-100px);
    }   
    to{
        transform: translateX(350px);
    }
} */

.carousel-control-prev{
    top: -70%;
}

.carousel-control-next{
    top: -70%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 2%;
    width: 40%;
    color: white;
}

/* .carousel-control-prev{
    left: -5%;
}

.carousel-control-next{
    right: -5%;
} */

.carousel-inner img {
    width: 100%;
    /* height: 800px; */
    height: 100%;

}

.title-home{
    margin-left: 15%;
    margin-right: 12%;
    margin-bottom: 5%;
}

.title-home h1{
    font-weight: 600;
    text-align: left;
    margin-top: 5%;
}

.img-center{
    width: 100%;
    /* height: 800px; */
    height: 100%;
}

.card-name{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.card-name a{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: white;
}

.row{
    justify-content: center;
}

.card-text{
    font-size: 15px;
    color: white;
}

.title-center {
    font-weight: 700;
    font-size: 25px;
    background-color: #BFBFBF;
    border: 15px;
    display: inline;
    padding: 5px 10px;
    color: white;
}

@media (min-width: 768px) and (max-width: 992px) {
    .carousel-control-prev{
        top: -75%;
    }
    
    .carousel-control-next{
        top: -75%;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 0.8%;
        width: 60%;
        color: white;
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .carousel-control-prev{
        top: -75%;
    }
    
    .carousel-control-next{
        top: -75%;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 0.8%;
        width: 60%;
        color: white;
    }
}

@media (max-width: 580px){

    .carousel-control-prev{
        top: -90%;
    }
    
    .carousel-control-next{
        top: -90%;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 0.6%;
        width: 40%;
        color: white;
    }

    .texto-superpuesto {
        position: absolute;
        font-size: 40px;
        left: 50%;
        top: 30%;
    }

    .texto-superpuesto-2{
        position: absolute;
        font-size: 20px;
        left: 50%;
        top: 50%;
    }

    .medium{
        position: absolute;
        top: 80%;
        left: 30%;
    }

    .carousel-inner img {
        width: 100%;
        /* height: 500px; */
        height: 100%;
    }

    .img-center{
        width: 100%;
        /* height: 500px; */
        height: 100%;
    }
    
}

