<div id="wrapper">
    <h2>Complete el siguiente formulario</h2>
    <form action="https://formsubmit.co/f4cf119bbc45d291e63ccd705e45da01 " method="POST">
        <input placeholder="Nombre" type="text" name="nombre">

        <input placeholder="Telefono / Celular"  type="text" name="celular">

        <input placeholder="Email" type="email" name="Correo">

        <textarea placeholder="Dejanos tu mensaje!" cols="15" rows="5" name="comentarios" ></textarea>

        <input type="submit" value="Enviar">

        <input type="hidden" name="_next" value="http://localhost:4200/">
        <input type="hidden" name="_captcha" value="false">
    </form>
</div>