#wrapper {
    max-width: 600px;
    margin: 0px 50px;
    padding: 50px 0px;
    /* background-color: #f4f4f4; */
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /* min-height: calc(100vh -0px - 300px); */
  }

.img-center{
  background-image: url('/assets/techos/grande.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
}
  
  h1 {
    text-align: center;
    color: white;
    font-family: Helvetica bold;
    font-weight: 700;
    /* font-size: 1.5em; */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 8px;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  input,
  textarea {
    padding: 10px;
    margin: 4px 0;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #595959;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
  }
  
  input[type="submit"]:hover {
    background-color: #898989;
  }