<section class="contenedor">
    <img src="assets/barandas/h/6.jpg" alt="Descripción de la imagen">
  
    <div class="texto-superpuesto">
      Servicios Metalúrgicos
    </div>
  </section>
  
  <section id="corte">
    <h1 class="text-uppercase">Corte y peglado de chapa</h1>
      <p>Realizamos servicio de corte y peglado hasta ¼ de espesor x 3000 MM de largo, en hierro y/o acero inoxidable.
      </p>

      
      <!-- <div class="carousel-container" >
          <carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [interval]="5000"
          [indicatorsByChunk]="true"
          [noWrap]="noWrap">
            <slide *ngFor="let img of imagenesVisiblesH" >
              <img [src]="img" alt="Slide" class="img-responsive center-block">
            </slide>
          </carousel>
      </div> -->
  
    <!-- <div class="text-center mt-3">
      <button *ngIf="cantidadVisibleH < imagenesH.length" (click)="verMasH()" class="ver-mas-btn mr-3">VER MÁS</button>
      <button *ngIf="cantidadVisibleH > 9" (click)="verMenosH()" class="ver-menos-btn">VER MENOS</button>
    </div> -->
  </section>
  
  <section id="cilindrados">
    <h1 class="text-uppercase">Cilindrados</h1>
    <p>Ofrecemos servicio de cilindrado de chapa de hasta 2 MM de espesor x 3000 MM de largo, tanto en hierro, como en acero inoxidable.
    </p>

  
    <!-- <div class="imag-rows row">
      <div class="col-md-3 mb-3" *ngFor="let img of imagenesVisiblesBotones">
        <div class="card p-1 text-black">
          <img class="card-img" [src]="img" alt="Card image" loading="lazy">
          <div class="card-name card-img-overlay" >
          </div>
        </div>
      </div>
    </div>
  
    <div class="text-center mt-3">
      <button *ngIf="cantidadVisibleBotones < imagenesBotones.length" (click)="verMasBotones()" class="ver-mas-btn mr-3">VER MÁS</button>
      <button *ngIf="cantidadVisibleBotones > 9" (click)="verMenosBotones()" class="ver-menos-btn">VER MENOS</button>
    </div> -->
  </section>
